<IfModule mod_expires.c>
ExpiresByType image/gif "modification plus 6 hours"
ExpiresByType image/png "modification plus 6 hours"
ExpiresByType image/jpeg "modification plus 6 hours"
ExpiresByType text/css "modification plus 6 hours"
ExpiresByType text/javascript "modification plus 6 hours"
</IfModule>

RewriteEngine On
RewriteBase /~keith/projects/grasssnake/
RewriteRule ^assets/.*         -                [L]
RewriteRule ^favicon\.ico      -                [L]
RewriteRule ^robots\.txt       -                [L]
RewriteRule ^dispatch\.php/.*  -                [L]
RewriteRule ^(.*)$             dispatch.php/$1  [QSA,L]
