RewriteEngine On
RewriteBase /~keith/development/grasssnake/
RewriteRule ^assets/.*         -                [L]
RewriteRule ^assets-fwk/.*     -                [L]
RewriteRule ^favicon\.ico      -                [L]
RewriteRule ^robots\.txt       -                [L]
RewriteRule ^dispatch\.php/.*  -                [L]
RewriteRule ^(.*)$             dispatch.php/$1  [QSA,L]
