html * {
	padding: 0;
	margin: 0;
}
body * {
	padding: 10px 20px;
}
body * * {
	padding: 0;
}
body {
	font: small Calibri, Helvetica, Arial, sans-serif;
	line-height: 1.5;
}
body>div {
	border-bottom: 1px solid #ddd;
}
h1 {
	font-weight: normal;
	line-height: 1.2;
}
h2 {
	margin-bottom: .4em;
	line-height: 1.2;
}
h2 span {
	font-size: 80%;
	color: #666;
	font-weight: normal;
}
ul.traceback {
	list-style-type: none;
}
ul.traceback li.frame {
	margin-bottom: 1em;
}
ul.traceback li.frame span.method {
	float: right;
	font-weight: bold;
}
div.context {
	margin: 0 0 10px 0;
	background: white;
	border: 1px solid #ddd;
}
div.context ol {
	padding-left: 6em;
	margin: 1px;
	list-style-position: outside;
}
div.context ol li {
	font-family: monospace;
	white-space: pre;
	color: #666;
}
div.context ol li.ctx-line {
	color: black;
	background-color: #eeb;
}
li.hidden ol li.otr-line {
	display: none;
}
li.hidden div.context {
	opacity: 0.33;
}
li.hidden:hover div.context {
	opacity: 1;
}
li.internal:active div.context {
	border-color: #aa7;
}
ul.traceback li.external div.context {
	border-color: #aa7;
}
ul.traceback li.internal {
	cursor: pointer;
}
#summary {
	background: #ffc;
}
#summary h2 {
	font-weight: normal;
	color: #666;
}
#traceback {
	background: #eee
}
#request-info {
	background: #f6f6f6;
}
address {
	overflow: hidden;
}
address img {
	float: right;
}
.afk-dump {
	border: 1px solid red;
	padding: 1ex;
	background: white;
	color: black;
	max-height: 60em;
	overflow:auto;
}
