h1 {
	margin-bottom: 0;
}

#body {
	padding: 0 32em 2em 1em;
}

#nav {
	background: black url(images/shadow.png) bottom left repeat-x;
	color: orange;
	font-weight: bold;
	font-size: 85%;
	padding: 0.25ex 0.5ex 0.65ex 0.5ex;
}

a img {
	border: none;
}

#nav a, address a {
	color: white;
	text-decoration: none;
}

#nav a:hover, address a:hover {
	text-decoration: underline;
}

address {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 75%;
	padding: 0.25ex 0.5ex;
	background: black url(images/shadow.png) top left repeat-x;
	font-weight: bold;
	color: orange;
	font-style: normal;
}
form table {
	border-collapse: collapse;
	width: 100%;
}

form table td, form table th {
	padding: 0;
	margin: 0;
}

div#sidebar {
	float: right;
	width: 30em;
	margin-right: -31em;
}

div#sidebar form {
	margin-bottom: 1em;
}

form fieldset {
	border: none;
	padding: 0;
	border-top: 1px solid orange;
}

form input[type=text], form textarea, form select {
	border: 1px solid silver;
	font: inherit;
}

form input[type=submit] {
	background: white;
	border: 3px double silver;
	border-bottom-color: black;
	border-right-color: black;
}

form table th {
	width: 1%;
	padding-right: 1ex;
	text-align: right;
}

form table input[type=text], form table select, form table textarea {
	width: 99%;
}

.message {
	overflow: hidden;
	padding: 1em 1em 1em 12em;
	border-bottom: 1px solid #DDD;
}

.message .metadata {
	float: left;
	width: 14em;
	margin: 0 0 0 -15em;
	font-size: 80%;
	color: gray;
	text-align: right;
	
}

.message pre {
	margin: 0 0 1em 0;
	overflow: auto;
	width: 100%;
}

.first {
	border-top: 1px solid #DDD;
	background: #F8F8F8;
	margin-top: 1em;
}
